.container{
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 2rem auto;  
    width: 90%;
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

section.grid.item.grid-item-1 {
    background-color: #333333;
    grid-column: 1 / span 9;
    color: white;
}

p0{
    padding: 20px;
    margin-top: 10px;
}

p2{
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    margin-bottom: 30px;
    float:right;
}

li {
    display: inline;
    /*margin-bottom: 20px;*/
   
}

    li a {
        text-decoration: none;
        color: white;
        font-size: medium;
    }

section.grid-item.grid-item-2 {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    grid-column: 1 / span 6;
    height: 300px;
    text-align: center;
}

h1{  
    /*font-weight: bold;
    text-align: center;
    font-size: large;
    margin: 20px;*/
}

p2{
    font-size: large;
}

section.grid-item.grid-item-3 {
    background-image: url('Images/map.jpg');
    background-size: cover;
    grid-column: 7 / span 3;
    height: 300px;
}

section.grid-item.grid-item-4 {
    background-color: #333333;
    grid-column: 1 / span 9;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

p3{
    font-weight: bold;
}



section.grid-item.grid-item-a {
    
    background-color: white;
    grid-column: 1 / span 6;
    height: 200px;
    padding-top: 100px;
}

section.grid-item.grid-item-5 {
    background-image: url('Images/italy-mountain-villa.jpeg');
    background-size: cover;
    grid-column: 7 / span 3;
    height: 300px;
    /*color: black;*/
}



p5{
    color: black;
    font-weight: bold;
    
}

p6{
    color:black;
}


section.grid-item.grid-item-6 {
    background-size: cover;
    background-image: url('Images/modern-villa.jpeg');
    grid-column: 1 / span 3;
    height: 300px;
}

section.grid-item.grid-item-7 {
    background-color: #333333;
    grid-column: 4 / span 6;
    height: 200px;
    padding-top: 100px;
    
}

section.grid-item.grid-item-8 {
    background-color: white;
    grid-column: 1 / span 6;
    height: 200px;
    padding-top: 100px;
    color: black;

}

section.grid-item.grid-item-9 {
    background-size: cover;
    background-image: url('Images/tuscany-grape-field-nature-51947.jpeg');
    grid-column: 7 / span 3;
    height: 300px;
}

section.grid-item.grid-item-b{
    background-color: #333333;
    height: 50px;
    grid-column: 1 / span 9;
    text-align: center;
    padding: 50px;
}



section.grid-item.grid-item-10 {
    background-size: cover;
    background-image: url('Images/pool.jpg');
    grid-column: 1 / span 3;
    height: 300px;
}

section.grid-item.grid-item-11 {
    background-color: white;
    grid-column: 4 / span 3;
    height: 275px;
    color: black;
    text-align: center;
    padding-top: 25px;
    
}

section.grid-item.grid-item-12 {
    background-image: url('Images/pool1.jpg');
    background-size: cover;
    grid-column: 7 / span 3;
    height: 300px;
}

p11{
    font-weight: bold;
}

p12{
    font-weight: bold;
}

p13{
    margin-top:25%;
}
section.grid-item.grid-item-13 {
    background-color: white;
    grid-column: 1 / span 3;
    height: 275px;
    color: black;
    text-align: center;
    padding-top: 25px;
}

section.grid-item.grid-item-14 {
    background-image: url('Images/bedroom.jpg');
    background-size: cover;
    grid-column: 4 / span 3;
    height: 300px;
}

p14{
    font-weight: bold;
}

p15{

}
section.grid-item.grid-item-15 {
    background-color: white;
    grid-column: 7 / span 3;
    height: 275px;
    color: black;
    text-align: center;
    padding-top: 25px;
}

p16{
    font-weight: bold;
}

p17{

}
section.grid-item.grid-item-16 {
    background-image: url('Images/patio.jpg');
    background-size: cover;
    grid-column: 1 / span 3;
    height: 300px;
}

section.grid-item.grid-item-17 {
    background-color: white;
    grid-column: 4 / span 3;
    height: 275px;
    color: black;
    text-align: center;
    padding-top: 25px;
}

p18{
    font-weight: bold; 
}

p19{

}
section.grid-item.grid-item-18 {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    grid-column: 7 / span 3;
    height: 300px;
}

p20{
    font-weight: bold;
}

section.grid-item.grid-item-19 {
    background-color: #333333;
    grid-column: 1 / span 9;
    height: 75px;
    text-align: center;
    padding-top: 25px;
}

section.grid-item.grid-item-20 {
    background-color: white;
    grid-column: 1 / span 9;
    
}

.carousel-wrapper

{
    height: 300px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    grid-column: 1 / span 9;
    
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}



/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    /*background: url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');*/
    background-size: cover;
    color: black;
}

.item-2 {
    /*background: url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');*/
    background-size: cover;
    color: black;
}

.item-3 {
    /*background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');*/
    background-size: cover;
    color: black;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}







section.grid-item.grid-item-21 {
    background-color: #333333;
    grid-column: 1 / span 9;
    height: 75px;
    text-align: center;
    padding-top: 25px;
}

p22{
    font-weight: bold;
}

section.grid-item.grid-item-22 {
    background-color: white;
    grid-column: 1 / span 9;
    height: 200px;
    color: black;
    padding-top: 25px;
}

p29{
    float: right;
}
section.grid-item.grid-item-23 {
    background-color: #333333;
    grid-column: 1 / span 9;
    height: 50px;
    text-align: center;
    padding-top: 50px;
}

button{
    background-color: #333333;
    color: white;
      
}

p{
    background-color: #333333;
    text-align: center;
}
